<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Provider</title>

    <link rel="stylesheet" href="../../static/providerStyle.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../static/providerAjax.js"></script>
</head>

<body>
    <a href="/">main</a><br>
    <a href="/provider"><img src="../../static/signature_01_13.png" height=50></a>
    <nav>
        <ol>
            <li><a href="/provider/invitation">초대장 발급</a></li>
            <li><a href="/provider/datalist">데이터 리스트</a></li>
        </ol>
    </nav>

    <article>
        {% block content %}
        {% endblock %}
    </article>
</body>

</html>