.uploadFile .upload-name, .uploadFile .upload-path {
    display: inline-block;
    height: 32px;
    margin: 5px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    color: #999999;
}

.uploadFile .upload-name {
    width: 80%;
}
.uploadFile .upload-path {
    width: 540px;
}

.uploadFile .researcher_btn {
    background-color: #78B395;
    color: #FFFFFF;
    width: 567px;
    height: 32px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    outline: none;
    -webkit-appearance: none;
    padding: 0 6px;
    margin: 15px 0;
}

.uploadFile label {
    background-color: #78B395;
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    outline: none;
    -webkit-appearance: none;
    padding: 0 6px;
}


.uploadFile input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}