<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Researcher</title>

        <link rel="stylesheet" href="../../static/researcherStyle.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../../static/researcherAjax.js"></script>
    </head>
    <body>
        <a href="/">main</a>
        <header>
            <h1><a href="/researcher">Researcher</a></h1>

            <nav>
                <ol>
                    <li><a href="/researcher/irb">IRB 관련</a></li>
                    <li><a href="/researcher/provider">Provider 관련</a></li>
                    <li><a href="/researcher/consumer">Consumer 관련</a></li>
                </ol>
            </nav>
        </header>

        <article>
            {% block content %}
            {% endblock %}
        </article>
    </body>
</html>