<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Researcher</title>

        <link rel="stylesheet" href="../../static/researcherStyle.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../../static/researcherAjax.js"></script>
    </head>
    <body>
        <a href="/">main</a>
        <h1>Researcher</h1>

        <div id="container">
            <div class="div">
                <div class="label">초대장</div>
                <div class="showInfo"></div>
                <input type="button" id="acceptInvitation" class="btns" value="초대장 수락">
            </div>
        </div>
    </body>
</html>