{% extends 'researcher/index.html' %}

{% block content %}
<div id="container_provider">
    <input type="button" id="acceptInvFromProvider" class="btns" value="초대장 받기">
    <br>
    <input type="button" id="presentCred" class="btns" value="Credential 제시">
</div>
<script>
    $(document).ready(() => {
        $("#acceptInvFromProvider").click(() => {
            if (sessionStorage.getItem("invitation")) {
                // invitation from irb에서 invitation from Provider로 변경 
                sessionStorage["invitation"] = "{id: 'djsio', name: 'park'}";
            } else {
                alert("IRB 페이지에서 로그인을 선행하십시오.");
            }
        });

        $("#presentCred").click(() => {
            sessionStorage.setItem("credential", "credential...");
        })
    })
</script>
{% endblock %}