{% extends 'layout.html' %}

{% block content %}
{
    view: "toolbar", height: 50,
    css: {"background-color" : "#DBB085"},
    elements: [
        {view: "spacer", width: 30},
        {
            view: "button", label: "<span style='font-size: 1.5em;'>Consumer</span>",
            type: "icon", icon: "wxi-folder-open", autowidth: true, css: "myButton_consumer webix_button",
            click: () => {location.href="/consumer";}
        },
        {% if ConsumerSignin %}
        {
            align: "right,middle",
            body: {
                view: "button", value: "Sign Out", width: 100, css: "myButton_consumer webix_button",
                click: () => {
                    webix.ajax().post("http://127.0.0.1:5000/consumer/process-signout")
                        .then((res) => {
                            location.reload();
                        });
                    }
            }
        },
        {
            view: "spacer", width: 50
        }
        {% endif %}
    ]
},
{
    align: "center",
    body: {
        rows: [
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {
                {% if ConsumerSignin and ResearcherCred %}
                view: "toolbar",
                width: 600,
                elementsConfig: {
                    labelWidth: 100, // 모든 요소의 레이블 길이 100
                },
                rows: [
                    {
                        view: "textarea", label: "Credential", minHeight: 250, placeholder: "Credential here...",
                        value: sessionStorage.getItem("consumer_cred")
                    },
                    {
                        align: "center",
                        body: {
                            view: "button", value: "Pull Data", css: "myButton_consumer webix_button",
                            click: () => {
                                webix.ajax().post("http://127.0.0.1:5000/consumer/pull-data")
                                    .then((res) => { location.href="/researcher/consumer"; });
                            }
                        }
                    }
                ]
                {% elif ConsumerSignin %}
                template: "Waiting for the researcher's credential presentation...", width: 600, autoheight: true
                {% elif ConsumerSignin == False %}
                view: "form",
                id: "signin_form",
                width: 600,
                elementsConfig: {
                    labelWidth: 80,
                },
                elements: [
                    {
                        view: "text", label: "Email", name: "email", placeholder: "name@domain.com",
                        invalidMessage: "Invalid Email address form"
                    },
                    {
                        view: "text", type: "password", label: "Password", name: "password",
                        invalidMessage: "Password can not be empty"
                    },
                    {
                        view: "button", id: "btnSubmit", value: "Submit", hotkey: "enter", css: "myButton_consumer webix_button",
                        click: () => {
                            var signin_form = $$("btnSubmit").getParentView();
                            if (signin_form.validate()) {
                                var values = signin_form.getValues();
                                values = webix.ajax().stringify(values);

                                webix.ajax().post("http://127.0.0.1:5000/consumer/process-signin", values)
                                    .then((res) => {
                                        /* login 성공하면 자동으로 invitation 생성 */
                                        webix.ajax().post("http://0.0.0.0:8061/connections/create-invitation")
                                            .then((res) => {
                                                var invitation = res.json().invitation; // 초대장 받기
                                                invitation = JSON.stringify(invitation);
                                                sessionStorage.setItem("consumer_invitation", invitation); // 초대장 세션 등록
                
                                                var connection_id = res.json().connection_id; // connection id 받기
                                                sessionStorage.setItem("consumer_connection_id", connection_id); // connection id 세션 등록
                                                
                                                location.href="/researcher/consumer";
                                            })
                                    });
                            }
                        }
                    }

                ],
                rules: {
                    "email": webix.rules.isEmail,
                    "password": webix.rules.isNotEmpty
                }
                {% endif %}
            },
        ]
    }
}
{% endblock %}