<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <h1>4 Servers</h1>
        <h3>각 서버는 direction으로 구분된다.</h3>
        <ol>
            <li><a href="/irb">IRB Server</a> - "/irb"</li>
            <li><a href="/researcher">Researcher Server</a> - "/researcher"</li>
            <li><a href="/provider">Provider Server</a> - "/provider"</li>
            <li><a href="/consumer">Consumer Server</a> - "/consumer"</li>
        </ol>
    </body>
</html>