{% extends 'layout.html' %}

{% block style_JS %}
{% if IRBsignin %}
<script src="../static/irb.js" type="text/javascript"></script>
{% endif %}
{% endblock %}

{% block content %}
{
    view: "toolbar", height: 50,
    css: {"background-color" : "#EBEBEB"},
    cols: [
        {view: "spacer", width: 30},
        {
            view: "button", label: "<span style='font-size: 1.5em;'>IRB</span>",
            type: "icon", icon: "wxi-filter", autowidth: true, css: "webix_transparent webix_button",
            click: () => {location.href="/irb";}
        },
        {% if IRBsignin %}
        {
            align: "right,middle",
            body: {
                view: "button", value: "Sign Out", width: 100, css: "webix_transparent webix_button",
                click: () => {
                    // IRB connection 끊기
                    if (sessionStorage.getItem("irb_connection_id")) {
                        var id = sessionStorage.getItem("irb_connection_id");
                        webix.ajax().sync().del(`http://0.0.0.0:8011/connections/${id}`);

                        sessionStorage.removeItem("irb_connection_id");
                        sessionStorage.removeItem("irb_invitation");
                        sessionStorage.removeItem("irb_creddef_id");
                        sessionStorage.removeItem("irb_did");
                        sessionStorage.removeItem("credential");
                    }

                    // provider connection 끊기
                    if (sessionStorage.getItem("provider_connection_id")) {
                        id = sessionStorage.getItem("provider_connection_id");
                        webix.ajax().sync().del(`http://0.0.0.0:8051/connections/${id}`);

                        sessionStorage.removeItem("provider_invitation");
                        sessionStorage.removeItem("provider_connection_id");
                    }

                    // consumer connection 끊기
                    if (sessionStorage.getItem("consumer+connection_id")) {
                        id = sessionStorage.getItem("consumer_connection_id");
                        webix.ajax().sync().del(`http://0.0.0.0:8061/connections/${id}`);
                        
                        sessionStorage.removeItem("consumer_connection_id");
                        sessionStorage.removeItem("consumer_invitation");
                        sessionStorage.removeItem("consumer_cred");
                    }

                    // 파이썬 세션들도 삭제하기
                    webix.ajax().sync().post("http://127.0.0.1:5000/irb/process-signout")
                    sessionStorage.clear(); // 남아 있는 세션 스토리지 모두 삭제 ex) credential-definition...
                    location.reload();
                }
            }
        },
        {
            view: "spacer", width: 50
        }
        {% endif %}
    ]
},
{
    align: "center",
    body: {
        rows: [
            {% if IRBsignin %}
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {
                align: "center", width: 600, body: {
                view: "button", value: "Copy Invitation", width: 200, css: "webix_transparent webix_button", borderless: false,
                    click: () => {
                        // 초대장 받기
                        webix.ajax().post("http://0.0.0.0:8011/connections/create-invitation")
                            .then((res) => {
                                var invitation = res.json().invitation; // 초대장 받기
                                invitation = JSON.stringify(invitation);
                                sessionStorage.setItem("irb_invitation", invitation); // 초대장 세션 등록

                                var connection_id = res.json().connection_id; // connection id 받기
                                sessionStorage.setItem("irb_connection_id", connection_id); // connection id 세션 등록

                                // credential definition id 받기
                                webix.ajax().get("http://0.0.0.0:8011/credential-definitions/created")
                                .then((res) => {
                                    var ids = res.json().credential_definition_ids;
                                    sessionStorage.setItem("irb_creddef_id", ids);
                                    
                                    //sessionStorage.setItem("irb_creddef_id", `["id1", "id2", "id3"]`);
                                    
                                    // id에 해당하는 credential-definition을 세션에 등록함
                                    ids.forEach((id) => {
                                        webix.ajax().get(`http://0.0.0.0:8011/credential-definitions/${id}`)
                                        .then((res) => {
                                            sessionStorage.setItem(id, JSON.stringify(res));
                                            location.href = "/researcher/irb";
                                        })
                                    })
                                });
                            });
                    }
                }
            },
            {% else %}
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {
                view: "form", id: "signin_form", width: 600,
                elementsConfig: {
                    labelWidth: 80,
                },
                elements: [
                    {
                        view: "text", label: "Email", name: "email", placeholder: "name@domain.com",
                        invalidMessage: "Invalid Email address form",
                        value: "asd@asd.com"
                    },
                    {
                        view: "text", type: "password", label: "Password", name: "password",
                        invalidMessage: "Password can not be empty",
                        value: "asd"
                    },
                    {
                        view: "button", id: "btnSubmit", hotkey: "enter", value: "Submit",
                        css: "webix_transparent webix_button", borderless: false,
                        click: () => {
                            var signin_form = $$("btnSubmit").getParentView();
                            if (signin_form.validate()) {
                                var values = signin_form.getValues();
                                values = webix.ajax().stringify(values);

                                webix.ajax().post("http://127.0.0.1:5000/irb/process-signin", values)
                                    .then((res) => {
                                        location.reload();
                                    });
                            }
                        }
                    }
                ],
                rules: {
                    "email": webix.rules.isEmail,
                    "password": webix.rules.isNotEmpty
                }
            },
            {% endif %}
        ]
    }
}

{% endblock %}