{% extends 'layout.html' %}

{% block content %}
{
    view: "toolbar",
    css: {"background-color" : "#1CA1C1"},
    cols: [
        {
            view: "button", value: "IRB", width: 100, css: "webix_primary webix_button",
            click: () => {location.href="/irb";}
        },
        {% if IRBsignin %}
        {
            align: "right",
            body: {
                view: "button", value: "Sign Out", width: 100, css: "webix_primary webix_button",
                click: () => {
                    webix.ajax().post("http://127.0.0.1:5000/irb/processSignout")
                        .then((res) => {
                            location.reload();
                        });
                    }
            }
        },
        {
            view: "spacer", width: 50
        }
        {% endif %}
    ]
},
{
    align: "center",
    body: {
        rows: [
            {% if IRBsignin %}
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {
                align: "center", body: {
                view: "button", value: "Copy Invitation", width: 200, css: "webix_primary webix_button",
                    click: () => { location.href = "/researcher/irb" }
                }
            },
            {% else %}
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {
                view: "form",
                id: "signin_form",
                width: 600,
                elementsConfig: {
                    labelWidth: 80,
                },
                elements: [
                    {
                        view: "text", label: "Email", name: "email", placeholder: "name@domain.com",
                        invalidMessage: "Invalid Email address form"
                    },
                    {
                        view: "text", type: "password", label: "Password", name: "password",
                        invalidMessage: "Password can not be empty"
                    },
                    {
                        view: "button", id: "btnSubmit", value: "Submit", hotkey: "enter", css: "webix_primary webix_button",
                        click: () => {
                            var signin_form = $$("btnSubmit").getParentView();
                            if (signin_form.validate()) {
                                var values = signin_form.getValues();
                                values = webix.ajax().stringify(values);
                                console.log(values);

                                webix.ajax().post("http://127.0.0.1:5000/irb/processSignin", values)
                                    .then((res) => {
                                        location.reload();
                                    });
                            }
                        }
                    }
                ],
                rules: {
                    "email": webix.rules.isEmail,
                    "password": webix.rules.isNotEmpty
                }
            },
            {% endif %}
        ]
    }
}

{% endblock %}