{% extends 'layout.html' %}

{% block content %}
{
    view: "toolbar", height: 50,
    css: {"background-color" : "#1CA1C1"},
    elements: [
        {view: "spacer", width: 30},
        {
            view: "button", label: "<span style='font-size: 1.5em;'>Provider</span>",
            type: "icon", icon: "wxi-folder", autowidth: true, css: "webix_primary webix_button",
            click: () => {location.href="/provider";}
        }
    ]
},
{
    align: "center",
    body: {
        rows: [
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {% if ProviderInv and ResearcherCred %}
            {
                view: "form", id: "dataSelect_form", width: 600, height: 600,
                elements: [
                    {
                        cols: [
                            { view: "search", id: "search", placeholder: "data name", width: 420, hotkey: "enter"},
                            {
                                view: "button", value: "Select this data", autowidth: true, css: "webix_primary webix_button",
                                click: () => {
                                    var selectedFile = $$("dataView").getSelectedItem().title; // 선택한 아이템 제목 가져오기
                                    
                                    sessionStorage.setItem("file", selectedFile); // 선택한 파일 제목 세션에 저장

                                    webix.message("Selected Data is " + selectedFile);
                                    webix.message({type: "debug", text: "Now move to Consumer in order to sign in"});

                                    var values = {"file" : selectedFile}; // JSON 형태
                                    values = JSON.stringify(values); // JSON으로 만들기

                                    // SFTP 서버로부터 파일 선택하여 로컬에 저장하고, credential 만들기
                                    webix.ajax().post("http://127.0.0.1:5000/provider/send-credential", values);

                                    /* provider-consumer 간 encrypt message 사용 부분
                                    var prov_consu_connection_id = sessionStorage.getItem("prov_consu_connection_id");
                                    var content = {"content": "hello! test!!!!"};
                                    content = JSON.stringify(content);
                                    webix.ajax().post(`http://0.0.0.0:8051/connections/${prov_consu_connection_id}/send-message`, content)
                                        .then((res) => {
                                            console.log("done! selected data id is " + selectedId + "(webix)");
                                        })
                                    */
                                }
                            },
                        ]
                    },
                    {
                        view: "dataview", id: "dataView", select: true, scroll: "y",
                        template: "#id#. #title#",xCount: 1,
                        type: {
                            width: 600,
                            autoheight: true,
                        },
                        data: `[
                            {"id":1,"title":"test.txt"},
                            {"id":2,"title":"The Godfather"},
                            {"id":3,"title":"The Godfather: Part II"},
                            {"id":4,"title":"The Good, the Bad and the Ugly"},
                            {"id":5,"title":"My Fair Lady"}
                        ]`
                    }
                ]
            },
            {% elif ProviderInv %}
            {
                template: "Waiting for the researcher's credential presentation...", width: 600, autoheight: true
            },
            {% else %}
            {
                align: "center",
                body: {
                    view: "button", value: "Create Invitation", width: 200, css: "webix_primary webix_button",
                    click: () => {
                        var values = JSON.stringify({"invitation" : "temp_from_provider"}); // 이거 없으면 Request 오류 발생
                        webix.ajax().post("http://0.0.0.0:8051/connections/create-invitation")
                            .then((res) => {
                                var invitation = res.json().invitation; // 초대장 받기
                                invitation = JSON.stringify(invitation);
                                sessionStorage.setItem("provider_invitation", invitation); // 초대장 세션 등록
                                
                                var connection_id = res.json().connection_id; // connection id 받기
                                sessionStorage.setItem("provider_connection_id", connection_id); // connection id 세션 등록

                                webix.ajax().post("http://127.0.0.1:5000/provider/create-inv", values)
                                    .then((res) => { location.href="/researcher/provider"; });
                            })
                    }
                }
            },
            {% endif %}
        ]
    }
}
{% endblock %}

{% block functions %}
{% if ProviderInv and ResearcherCred %}
/* 검색 기능 구현 */
$$("search").attachEvent("onTimedKeyPress", () => {
    var value = $$("search").getValue().toLowerCase();
    $$("dataView").filter((obj) => {
        return obj.title.toLowerCase().indexOf(value) != -1;
    })
})
{% endif %}
{% endblock %}