{% extends 'layout.html' %}

{% block content %}
{
    view: "toolbar", height: 50,
    css: {"background-color" : "#1CA1C1"},
    elements: [
        {view: "spacer", width: 30},
        {
            view: "button", label: "<span style='font-size: 1.5em;'>Provider</span>",
            type: "icon", icon: "wxi-folder", autowidth: true, css: "webix_primary webix_button",
            click: () => {location.href="/provider";}
        }
    ]
},
{
    align: "center",
    body: {
        rows: [
            { view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
            {% if ProviderInv and ResearcherCred %}
            {
                view: "form", id: "dataSelect_form", width: 600, height: 600,
                elements: [
                    {
                        cols: [
                            { view: "search", id: "search", placeholder: "data name (기능구현X)", width: 420, hotkey: "enter"},
                            {
                                view: "button", value: "Select this data", autowidth: true, css: "webix_primary webix_button",
                                click: () => {
                                    var selectedId = $$("dataList").getSelectedId();
                                    webix.message("Selected Data is " + selectedId);
                                    webix.message("2 Files, 2 Keys are issued as a credential");
                                    webix.message({type: "debug", text: "Now move to Consumer in order to sign in"});
                                }
                            },
                        ]
                    },
                    {
                        view: "list", id: "dataList", select: true, scroll: "y",
                        template: "#id#. #title#(#year#)",
                        data: `[
                            {"id":1,"title":"The Shawshank Redemption","year":"1994","votes":"678,79","rating":"9,2","rank":"1"},
                            {"id":2,"title":"The Godfather","year":"1972","votes":"511,495","rating":"9,2","rank":"2"},
                            {"id":3,"title":"The Godfather: Part II","year":"1974","votes":"319,352","rating":"9","rank":"3"},
                            {"id":4,"title":"The Good, the Bad and the Ugly","year":"1966","votes":"213,03","rating":"8,9","rank":"4"},
                            {"id":5,"title":"My Fair Lady","year":"1964","votes":"533,848","rating":"8,9","rank":"5"},
                            {"id":6,"title":"12 Angry Men","year":"1957","votes":"164,558","rating":"8,9","rank":"6"},
                            {"id":7,"title":"Schindler's List","year":"1993","votes":"355,638","rating":"8,9","rank":"7"},
                            {"id":8,"title":"One Flew Over the Cuckoo's Nest","year":"1975","votes":"283,176","rating":"8,8","rank":"8"},
                            {"id":9,"title":"The Dark Knight","year":"2008","votes":"612,37","rating":"8,8","rank":"9"},
                            {"id":10,"title":"The Lord of the Rings: The Return of the King","year":"2003","votes":"472,843","rating":"8,8","rank":"10"},
                            {"id":11,"title":"Star Wars: Episode V - The Empire Strikes Back","year":"1980","votes":"348,012","rating":"8,8","rank":"11"},
                            {"id":12,"title":"Inception","year":"2010","votes":"458,693","rating":"8,8","rank":"12"},
                            {"id":13,"title":"Fight Club","year":"1999","votes":"507,723","rating":"8,8","rank":"13"},
                            {"id":14,"title":"Seven Samurai","year":"1954","votes":"118,925","rating":"8,8","rank":"14"},
                            {"id":15,"title":"The Dark Knight","year":"2008","votes":"612,37","rating":"8,8","rank":"9"},
                            {"id":16,"title":"The Lord of the Rings: The Return of the King","year":"2003","votes":"472,843","rating":"8,8","rank":"10"},
                            {"id":17,"title":"Star Wars: Episode V - The Empire Strikes Back","year":"1980","votes":"348,012","rating":"8,8","rank":"11"},
                            {"id":18,"title":"Inception","year":"2010","votes":"458,693","rating":"8,8","rank":"12"},
                            {"id":19,"title":"Fight Club","year":"1999","votes":"507,723","rating":"8,8","rank":"13"},
                            {"id":20,"title":"Seven Samurai","year":"1954","votes":"118,925","rating":"8,8","rank":"14"},
                            {"id":21,"title":"The Lord of the Rings: The Return of the King","year":"2003","votes":"472,843","rating":"8,8","rank":"10"},
                            {"id":22,"title":"Star Wars: Episode V - The Empire Strikes Back","year":"1980","votes":"348,012","rating":"8,8","rank":"11"},
                            {"id":23,"title":"Inception","year":"2010","votes":"458,693","rating":"8,8","rank":"12"},
                            {"id":24,"title":"Fight Club","year":"1999","votes":"507,723","rating":"8,8","rank":"13"},
                            {"id":25,"title":"Seven Samurai","year":"1954","votes":"118,925","rating":"8,8","rank":"14"}
                        ]`
                    }
                ]
            },
            {% elif ProviderInv %}
            {
                template: "Waiting for the researcher's credential presentation...", width: 600, autoheight: true
            },
            {% else %}
            {
                align: "center",
                body: {
                    view: "button", value: "Create Invitation", width: 200, css: "webix_primary webix_button",
                    click: () => {
                        var values = JSON.stringify({"invitation" : "temp_from_provider"}); // 이거 없으면 Request 오류 발생
                        webix.ajax().post("http://0.0.0.0:8051/connections/create-invitation")
                            .then((res) => {
                                var invitation = res.json().invitation; // 초대장 받기
                                invitation = JSON.stringify(invitation);
                                sessionStorage.setItem("provider_invitation", invitation); // 초대장 세션 등록
                                
                                var connection_id = res.json().connection_id; // connection id 받기
                                sessionStorage.setItem("provider_connection_id", connection_id); // connection id 세션 등록

                                webix.ajax().post("http://127.0.0.1:5000/provider/create-inv", values)
                                    .then((res) => { location.href="/researcher/provider"; });
                            })
                    }
                }
            },
            {% endif %}
        ]
    }
}
{% endblock %}

{% block functions %}
{% if ProviderInv and ResearcherCred %}
var list = $$("dataList").serialize();

/* 검색 기능 구현 */
$$("search").attachEvent("onTimedKeyPress", () => {
    var value = $$("search").getValue().toLowerCase();
    webix.message(value);
    
    list.forEach((item) => {
        if (item.title.toLowerCase().indexOf(value) > -1) {
            $$("dataList").show();
        } else {
            $$("dataList").hide();
        }
    })
})

{% endif %}
{% endblock %}