{% extends 'layout.html' %}

{% block content %}
{
    view: "toolbar",
    css: {"background-color" : "#1CA1C1"},
    cols: [
        {
            view: "button", value: "Researcher", width: 100, css: "webix_primary webix_button",
            click: () => {location.href="/researcher";}
        },
        {
            align: "right",
            margin: 50,
            body: {
                cols: [
                    {
                        view: "button", value: "IRB", width: 100, css: "webix_primary webix_button",
                        click: () => { location.href="/researcher/irb"}
                    },
                    {
                        view: "button", value: "Provider", width: 100, css: "webix_primary webix_button",
                        click: () => { location.href="/researcher/provider"}
                    },
                    {
                        view: "button", value: "Consumer", width: 100, css: "webix_primary webix_button",
                        click: () => { location.href="/researcher/consumer"}
                    },
                    {
                        view: "spacer", width: 70
                    }
                ]
            }
        }

    ]
},
{
    align: "center",
    body: {
        rows: [
        {% block researcher %}
        {% endblock %}
        ]
    }
}
{% endblock %}
