{% extends 'researcher.html' %}

{% block researcher %}
{ view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
{
{% if ConsumerSignin and ConsumerInv and PullData %}
    view: "tabview",
    cells: [
        {
            header: "<span style='color: #78B395'>download</span>",
            body: {
                view: "form", id: "download_form", width: 600,
                elements: [
                    { view: "text", id: "file1", label: "file1" },
                    { view: "text", id: "file2", label: "file2" },
                    {
                        view: "button", value: "download", css: "myButton_research webix_button",
                        click: () => {
                            webix.message("downloading from SFTP Server");
                        }
                    },
                ]
            }
        },
        {
            header: "<span style='color: #78B395'>upload</span>",
            body: {
                view:"form", id: "upload_form", width: 600, rows: [
                    { 
                        view: "uploader", id: "uploader", value: "Select file",
                        name:"files", link: "upload_list", css: "myButton_research webix_button",
                        //upload:"https://docs.webix.com/samples/server/upload",
                        on: {
                            onFileUpload: (item) => {webix.message("Done");}
                        },
                        autosend: false,
                        // directory: true, // upload folders available
                    },
                    {
                        view:"list",  id:"upload_list", type:"uploader", height: 300,
                    },
                    { view: "button", id: "btn_save", label: "Save", click: function() {
                        var files = $$("uploader").files.data.pull; // uploader body에 있는 파일들 얻기
                        var values = { "files" : "" };

                        // id로 File 아이템 반복
                        var id = $$("uploader").files.getFirstId(); // 첫 번째 파일 오브젝트의 ID 받기
                        while(id) { // ID 존재하는 동안 반복
                            values.files += files[id].name+ ",";
                            id = $$("uploader").files.getNextId(id);
                        }
                        values = JSON.stringify(values);
                        console.log(values);

                        webix.ajax().post("http://127.0.0.1:5000/researcher/upload-file", values)
                            .then(() => {
                                webix.message("sented");
                            });
                        }
                    }
                ]
            }
        }
    ]
{% elif ConsumerSignin and ConsumerInv %}
    view: "form", width: 600,
    elements: [
        {
            view: "textarea", id: "credential", minHeight: 250, placeholder: "credentail here...",
            value: `{"file1": "file1...", "file2": "file2...", "key1": "key1_to_file1", "key2": "key2_to_file2"}`
        },
        {
            view: "button", value: "Present Credential", css: "myButton_research webix_button",
            click: () => {
                var values = JSON.stringify({"credential" : "researchers_cred_to_consumer"});

                webix.ajax().post("http://127.0.0.1:5000/consumer/receive-cred", values)
                    .then((res) => {
                        var value = {"file1": "file1...", "file2": "file2...", "key1": "key1_to_file1", "key2": "key2_to_file2"};
                        value = JSON.stringify(value);
                        sessionStorage.setItem("consumer_cred", value);
                        location.href="/consumer";
                    });
            }
        }
    ]
{% else %}
    view: "form", width: 600,
    elements: [
        {
            view: "textarea", id: "invitation", minHeight: 250, placeholder: "invitation here..."
        },
        {        
            view: "button", value: "Accept Invitation", css: "myButton_research webix_button",
            click: () => {
                {% if ConsumerSignin %}
                var invitation = JSON.stringify(webix.storage.session.get("consumer_invitation"));
                webix.ajax().post("http://0.0.0.0:8031/connections/receive-invitation", invitation)
                    .then((res) => {
                        webix.ajax().post("http://127.0.0.1:5000/researcher/accept-con-inv", invitation)
                            .then((res) => {
                                location.reload();
                            });
                    });
                {% else %} // 만약 IRB 로그인 안 돼 있다면, 경고 메시지 출력
                webix.message({type: "error", text: "Consumer Sign in First!"});
                {% endif %}
            }
        }
    ]
{% endif %}
}
{% endblock %}

{% block functions %}
{% if ConsumerSignin and ConsumerInv and PullData %}
// drop down 방식으로 파일 업로드하기
$$("uploader").addDropZone($$("upload_list").$view, "Drop files here");

{% elif ConsumerSignin and ConsumerInv == False %}
var invitation = webix.storage.session.get("consumer_invitation"); // 세션에서 invitation 가져오기
var inv = JSON.stringify(invitation); // invitation 문자열로 바꾸기
inv = inv.split(','); // inv (string)을 콤마를 기준으로 split (리스트)

// JSON 예쁘게 출력하는 과정 (문자열 형식)
output = "[\n     {\n";
inv.forEach((item) => {
    if (item.indexOf('{') != -1) {
        item = item.substring(item.indexOf('{') + 1, item.length + 1);
    } else if (item.indexOf('}') != -1) {
        item = item.substring(0, item.indexOf('}'));
    }
    output += "\t" + item + "\n";
})
output += "     }\n]";
$$("invitation").setValue(output); // 가다듬은 JSON 모양 문자열을 textarea의 value로 설정
{% endif %}
{% endblock %}