{% extends 'researcher.html' %}

{% block researcher %}
{ view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
{
    {% if IRBsignin and IRBinv %}
    view: "toolbar",
    width: 600,
    elementsConfig: {
        labelWidth: 100, // 모든 요소의 레이블 길이 100
    },
    rows: [
        {
            view: "textarea", label: "DID",
            placeholder: "DID here..."
        },
        {
            view: "radio", id: "id_radio", label: "Cred Def IDs", vertical: true,
            options: [
                "id 1", "id 2", "id 3"
            ],
            click: () => {
                var selectedId = $$("id_radio").getValue();
                webix.message("Selected ID is " + selectedId);
                webix.message({type: "debug", text: "Now Move to Provider in order to create invitation"});
            }
        },
        {
            view: "textarea", label: "Cred Def", height: 400,
            placeholder: "Credential Definition here..."
        }
    ]
    {% else %}
    align: "center,middle",
    body: {
        view: "button", value: "Accept Invitation", width: 200, css: "webix_primary webix_button",
        click: () => {
            {% if IRBsignin %} // IRB 로그인 돼 있다면, 초대장 수락
            var values = JSON.stringify({"invitation" : "temp"}); // 이거 없으면 Request 오류 발생
            webix.ajax().post("http://127.0.0.1:5000/researcher/accept-irb-inv", values)
                .then((res) => { location.reload(); });
            {% else %} // 만약 IRB 로그인 안 돼 있다면, 경고 메시지 출력
            webix.message({type: "error", text: "IRB Sign in First!"});
            {% endif %}
        }
    }
    {% endif %}
}
{% endblock %}
