{% extends 'researcher.html' %}

{% block researcher %}
{ view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
{% if ProviderInv %}
{
    view: "form", id: "credential_form", width: 600,
    elements: [
        {
            view: "textarea", id: "credential", minHeight: 250, placeholder: "credentail here...",
            value: sessionStorage.getItem("credential")
        },
        {
            view: "button", value: "Present Credential", css: "myButton_research webix_button",
            click: () => {
                var credential_body = sessionStorage.getItem("credential");
                var credential = {"credential" : `${credential_body} credential from Researcher to Provider`}
                credential = JSON.stringify(credential);
                webix.ajax().post("http://127.0.0.1:5000/provider/receive-cred", credential)
                    .then(() => {
                        location.href="/provider";
                    })
            }
        }
    ]
}
{% else %}
{
    view: "form", id: "invitation_form", width: 600,
    elements: [
        {
            view: "textarea", id: "invitation", minHeight: 250, placeholder: "invitation here..."
        },
        {
            view: "button", value: "Accept Invitation", css: "myButton_research webix_button",
            click: () => {
                var invitation = JSON.stringify(webix.storage.session.get("provider_invitation"));
                webix.ajax().post("http://0.0.0.0:8031/connections/receive-invitation", invitation)
                    .then((res) => {
                        console.log(JSON.stringify(res));
                        webix.ajax().post("http://127.0.0.1:5000/researcher/accept-provider-inv", invitation)
                            .then((res) => { location.reload(); });
                    })
            }
        }
    ]
},
{% endif %}
{% endblock %}

{% block functions %}
{% if ProviderInv == False %}
var invitation = webix.storage.session.get("provider_invitation"); // 세션에서 invitation 가져오기
if (invitation) {
    var inv = JSON.stringify(invitation); // invitation 문자열로 바꾸기
    inv = inv.split(','); // inv (string)을 콤마를 기준으로 split (리스트)

    // JSON 예쁘게 출력하는 과정 (문자열 형식)
    output = "[\n     {\n";
    inv.forEach((item) => {
        if (item.indexOf('{') != -1) {
            item = item.substring(item.indexOf('{') + 1, item.length + 1);
        } else if (item.indexOf('}') != -1) {
            item = item.substring(0, item.indexOf('}'));
        }
        output += "\t" + item + "\n";
    })
    output += "     }\n]";
    $$("invitation").setValue(output); // 가다듬은 JSON 모양 문자열을 textarea의 value로 설정
}
{% endif %}
{% endblock %}
