{% extends 'researcher.html' %}

{% block researcher %}
{ view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
{% if ProviderInv %}
{
    align: "center",
    body: {
        view: "button", value: "Present Credential", width: 200, css: "webix_primary webix_button",
        click: () => {location.href="/provider";}
    }
}
{% else %}
{
    align: "center",
    body: {
        view: "button", value: "Accept Invitation", width: 200, css: "webix_primary webix_button",
        click: () => {
            var values = JSON.stringify({"invitation" : "temp_from_provider"});
            webix.ajax().post("http://127.0.0.1:5000/researcher/accept-provider-inv", values)
                .then((res) => {
                    location.reload();
                });
        }
    }
},
{% endif %}
{% endblock %}
