{% extends 'researcher.html' %}

{% block researcher %}
{ view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
{
{% if ConsumerSignin and PullData %}
    template: "데이터 사용", width: 600, autoheight: true

{% elif ConsumerSignin %}
    align: "center,middle",
    body: {
        view: "button", value: "Present Credential", width: 200, css: "webix_primary webix_button",
        click: () => {
            var values = JSON.stringify({"credential" : "researchers_cred_to_consumer"});

            webix.ajax().post("http://127.0.0.1:5000/consumer/receive-cred", values)
                .then((res) => { location.href="/consumer"; });
        }
    }
{% else %}
    align: "center,middle",
    body: {
        view: "button", value: "Accept Invitation (Consumer)", width: 200,
        click: () => {
            {% if ConsumerSignin %} // consumer 로그인 돼 있다면, 초대장 수락
            var values = JSON.stringify({"invitation" : "temp_consumer"}); // 이거 없으면 Request 오류 발생

            webix.ajax().post("http://127.0.0.1:5000/researcher/accept-con-inv", values)
                .then((res) => { location.reload(); });

            {% else %} // 만약 consumer 로그인 안 돼 있다면, 경고 메시지 출력
            webix.message({type: "error", text: "Consumer Sign in First!"});
            {% endif %}
        }
    }
{% endif %}
}
{% endblock %}
