{% extends 'researcher.html' %}

{% block researcher %}
{ view: "spacer", height: 30 }, // margin처럼 활용하는 빈 공간
{
    {% if IRBsignin and IRBinv %}
    view: "toolbar",
    width: 600,
    elementsConfig: {
        labelWidth: 100, // 모든 요소의 레이블 길이 100
    },
    rows: [
        {
            view: "textarea", label: "DID", value: sessionStorage.getItem("irb_did"),
            placeholder: "DID here..."
        },
        {
            view: "radio", id: "id_radio", label: "Cred Def IDs", vertical: true,
            options: [sessionStorage.getItem("irb_creddef_id")],
            click: () => {
                var selectedId = $$("id_radio").getValue();
                webix.message({type: "debug", text: "Now Move to Provider in order to create invitation"});
            
                var selected = sessionStorage.getItem(selectedId);
                console.log(selected);
                $$("creddef").setValue(selected + " (empty credential definition)")
            }
        },
        {
            view: "textarea", id: "creddef", label: "Cred Def", height: 400,
            placeholder: "Credential Definition here..."
        }
    ]
    {% else %}
    view: "form", id: "invitation_form", width: 600,
    elements: [
        {
            view: "textarea", id: "invitation", minHeight: 250, placeholder: "invitation here..."
        },
        {        
            view: "button", value: "Accept Invitation", css: "myButton_research webix_button",
            click: () => {
                {% if IRBsignin %} // IRB 로그인 돼 있다면, 초대장 수락
                var invitation = JSON.stringify(webix.storage.session.get("irb_invitation"));
                webix.ajax().post("http://0.0.0.0:8031/connections/receive-invitation", invitation)
                    .then((res) => {
                        res = res.json();
                        sessionStorage.setItem("irb_did", res.my_did); // res 세션 등록
                        webix.ajax().post("http://127.0.0.1:5000/researcher/accept-irb-inv", invitation)
                            .then((res) => {
                                location.reload();
                            });
                    });
                {% else %} // 만약 IRB 로그인 안 돼 있다면, 경고 메시지 출력
                webix.message({type: "error", text: "IRB Sign in First!"});
                {% endif %}
            }
        }
    ]
    {% endif %}
}
{% endblock %}

{% block functions %}
{% if IRBsignin and IRBinv %}
//var ids = webix.storage.session.get("irb_creddef_id").credential_definition_ids;
//console.log("ids length" + ids.length);
//var radio_options = "["
//ids.forEach((id, index) => {
//    if (index == ids.length - 1) {
//        radio_options += `{"id": ${index  + 1}, "value": "${id}"}`;
//    } else {
//        radio_options += `{"id": ${index  + 1}, "value": "${id}"}, `;
//    }
//})
//radio_options += "]";
//console.log(radio_options);

{% elif IRBsignin %}
var invitation = webix.storage.session.get("irb_invitation"); // 세션에서 invitation 가져오기
var inv = JSON.stringify(invitation); // invitation 문자열로 바꾸기
inv = inv.split(','); // inv (string)을 콤마를 기준으로 split (리스트)

// JSON 예쁘게 출력하는 과정 (문자열 형식)
output = "[\n     {\n";
inv.forEach((item) => {
    if (item.indexOf('{') != -1) {
        item = item.substring(item.indexOf('{') + 1, item.length + 1);
    } else if (item.indexOf('}') != -1) {
        item = item.substring(0, item.indexOf('}'));
    }
    output += "\t" + item + "\n";
})
output += "     }\n]";
$$("invitation").setValue(output); // 가다듬은 JSON 모양 문자열을 textarea의 value로 설정
{% endif %}
{% endblock %}
